.modal {
  display: none;
  max-width: 90%;
  min-width: 20rem;
  margin: 0 auto;
  background: $white;
  box-shadow: 0 0 0.5rem $gray--dark;
  &.show {
    display: block;
  }
  header {
    color: $font-color;
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: $semibold;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .modal-content {
    padding: 1.5rem 2.5rem 0.5rem 2.5rem;
    box-sizing: -box;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0 0 1rem 0;
    }
  }
  .modal-buttons {
    margin: 1rem 0 0 0;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: $gray--light;
  }
}